body {
    font-family: 'Montserrat',sans-serif;
    background-color: #FEFCFE;
    font-size: 14px;
    max-width: 1920px;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Bold.ttf);
    src: url(../font/Montserrat-Regular.ttf);
}

 header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 48px;
    max-width: 1837px;
    max-height: 31px;
    margin: 0 auto;
    padding-top: 48px;
 }
.logo {
    width: 97px;
    height: 30px;
    padding-top: 1px;
    padding-left: 19px;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: -669px;
 }
.nav-item {
    color: #2B3541;
    text-decoration-style: none;
    list-style-type: none;
    font-size: 18px;
    line-height: 150%;  
    margin-right: 54px;
    padding-bottom: 30px;
    transition: 0.3s ease;
 }
 .nav-item:hover {
    cursor: pointer;
    border-bottom: 1px solid #2B3541;;
 }
 .icons {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
 }
 .icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
 }
.icon:hover {
   transform: scale(1.114) translate(-2px, -2px);
}
 .wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
   max-width: 1325px;
   margin: 0 auto;
 }

 main {
    width: 1325px;
    height: 852px;
    margin-top: 27px;
 }
 .container {
   width: 87%;
   height: 100%;
   margin-left: 30%;
 }
 .training {
    margin: 0 auto;
    margin-top: 27px;
 }
 
 .training-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
 }
 .training-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(50%, 50%);
    object-fit: cover;
 }
 .training {
    width: 1325px;
    height: 852px;
 }
.training-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2B3541;
    padding-top: 197px;
}
.training-info {
   margin-top: 10px;
}
.training-details {
    max-width: 640px;
    max-height: 852px;
    margin-left: 9px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}
.workout {
   display: flex;
   padding: 0;
}
.workout p {
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    padding-right: 22px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.workout2 {
    width: 286px;
    height: 50px;
    font-size: 18px;
    line-height: 150%;
    margin-top: 21px;
    margin-left: 93px;
}

.more-details {
   background-color: #FBF138;
   width: 252px;
   height: 64px;
   border: none;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.03em;
   color: #2B3541;
   margin-left: 93px;
   margin-top: 21px;
   box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
   transition: 0.3s ease;
}
.more-details:hover {
   outline: none;
   color: #FBF138;
   background-color: #2B3541;
   box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
   cursor: pointer;
}
input[type=button] {
   outline: none;
}
.arrow {
    margin-top: 182px;
    margin-left: 92px;
}

#event {
   margin: 0 auto;
   width: 1143px;
   height: 690px;
   margin-top: 130px;
}
.event-title {
   font-weight: 700;
   font-size: 40px;
   line-height: 125%;
   letter-spacing: 0.02em;
}
.webinar {
   margin: 0 auto;
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
}
.webinar-caption {
   width: 367px;
   height: 600px;
   position: relative;
}
.webinar-caption img {
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.webinar-caption:hover .share {
   visibility: visible;
}
.share {
   position: absolute;
   z-index: 1;
   width: 221px;
   height: 64px; 
   background-color: #FBF138;
   border: none;
   box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);  
   font-size: 16px;
   line-height: 150%;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase; 
   color: #2B3541; 
   visibility: hidden; 
   left: 30px;
   top: 185px;
}
.share:hover {
   color: #FBF138;
   background-color: #2B3541;
   box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
   cursor: pointer;
}
.training-schedule {
   margin: 0 auto;
   max-width: 1143px;
   height: 851px;
   margin-top: 165px;
}
.schedule-date {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.schedule {
   font-weight: 700;
   font-size: 40px;
   line-height: 125%;
   color: #2B3541;
   margin-top: 28px;
   margin-bottom: 11px;
}
.date {
   font-weight: bold;
   font-size: 28px;
   line-height: 125%;
   color: #2B3541;
   margin-top: 4px;
}
.training {
   width: 1143px;
   height: 852px;
   display: flex;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
   grid-gap: 18px;
}
.training-caption {
   width: 366px;
   border: 1px solid rgb(43,53,65,1);
   background: #FEFCFE;
   transition: 0.2s ease;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   position: relative;
}

.training-caption:hover {
   background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
   opacity: 0.7;
   box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.training-caption:hover .training-type-description {
   display: block;
}
.caption-01 {
   width: 367px;
   height: 250px;
}
.caption-02 {
   width: 367px;
   height: 433px;
}
.caption-02 image {
   margin-top: 10px;
}
.caption-03 {
   width: 366px;
   height: 402px; 
}
.caption-04 {
   width: 366px;
   height: 281px;
}
.caption-05 {
   width: 367px;
   height: 309px;
}
.caption-06 {
   width: 367px;
   height: 374px;
}
.training-date {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #010101;
   opacity: 0.7;
   padding-left: 208px;
   top: 2px;
   position: absolute;
}
.training-type {
   font-weight: 700;
   font-size: 18px;
   line-height: 125%;
   color: #2B3541;
   padding-top: 21px;
   padding-left: 31px;
   padding-bottom: 0;
   margin-bottom: 0;
}
.training-type-description {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #2B3541;
   display: none;
   padding-left: 30px;
   padding-right: 20px;
   margin: 0;
}
.image {
   height: 150px;
}
.image img {
   padding-left: 31px;
}

.distribution {
   max-width: 1920px;
   height: 348px;
   left: 0px;
   margin-top: 178px;
   background-color: #F3F3F3;
   display: flex;
   justify-content: center;
   position: relative;
}
.distribution-items {
   max-width: 670px;
   max-height: 220px;
   margin-top: 41px;
   position: relative;
   z-index: 2;
}
.circle {
   position: absolute;
   z-index: -1;
   top: 11px;
   left: -12px;
}
.distribution-title {
   font-weight: 700;
   font-size: 40px;
   line-height: 49px;
   text-align: center;
   color: #2B3541;
}
.subscribe {
   display: flex;
   align-items: center;
}
.email {
   width: 372px;
   height: 65px;
   background: #FFFFFF;
   outline: none;
   border: none;
   margin-left: 21px;
   font-size: 18px;
   line-height: 150%;
   color: rgba(43, 53, 65, 0.3);
   padding-left: 19px;
}
.email:hover {
   cursor: pointer;
   outline: none;
   border: none;
} 
.email:focus {
   outline: none;
   border: none;
   color: #2B3541;
}
.email-subscribe {
   background-color: #FBF138;
   width: 225px;
   height: 65px;
   border: none;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.03em;
   color: #2B3541;
   margin-left: 20px;
   box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
   transition: 0.3s ease;
}
.email-subscribe:hover {
   color: #FBF138;
   background-color: #2B3541;
   box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
   cursor: pointer;
}
.checkbox-box {
   max-width: 380px;
   display: flex;
   text-align: center;
   justify-content: space-between;
   margin-left: 21px;
}
.custom-checkbox {
   position: absolute;
   z-index: -1;
   opacity: 0;
 }
 .custom-checkbox+label {
   display: inline-flex;
   align-items: center;
   user-select: none;
 }
 .custom-checkbox+label::before {
   content: '';
   display: inline-block;
   width: 18px;
   height: 18px;
   flex-shrink: 0;
   flex-grow: 0;
   border: 2px solid #2B3541;
   margin-right: 0.5em;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 50% 50%;
 }
 .custom-checkbox:checked+label::before {
   background-color: #2B3541;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
 }
.personal-data {
   text-decoration: none;
   color: rgba(43,53,65, 0.5);
   border-bottom: 1px solid rgba(43,53,65, 0.5);
   font-weight: normal;
   font-size: 11px;
   line-height: 150%;
}
.check p {
   color: rgba(43,53,65, 0.5);
   font-weight: 400;
   font-size: 11px;
   line-height: 150%;
}
.personal-data:hover {
   color: #2B3541;
   border-bottom: 1px solid #2B3541;
}
.company {
   margin: 0 auto;
   width: 1142px;
   height: 513px;
   margin-top: 160px;
}
.company-advantage {
   width: 1142px;
   height: 513px;
}
.company-info {
   max-width: 1142px;
   max-height: 513px;
   display: flex;
   justify-content: space-between;
}
.company-details {
   display: flex;
   flex-direction: column;
   margin-left: 8px;
}

.company-image {
   width: 581px;
   height: 335px;
   position: relative;
   overflow: hidden;
   margin-right: -8px;
}
.company-image img {
   width: 100%;
   height: 100%;
   position: absolute;
   left: -50%;
   top: -50%;
   transform: translate(50%, 50%);
   object-fit: cover;
}

.company-title {
   font-weight: 700;
   font-size: 40px;
   line-height: 125%;
   color: #2B3541;
   margin: 0;
}
.company-message {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #2B3541;
   max-width: 465px;
   margin-top: 22px;
}
.company-subscribe {
   background-color: #FBF138;
   width: 225px;
   height: 65px;
   border: none;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.03em;
   color: #2B3541;
   margin-top: 17px;
   box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
   transition: 0.3s ease;
}
.company-subscribe:hover {
   color: #FBF138;
   background-color: #2B3541;
   box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
   cursor: pointer;
}
.company-advantage {
   height: 130px;
   margin-top: 67px;
   display: grid;
   grid-template-columns: 231px 284px 221px 204px;
   grid-gap: 67px;
   margin-left: 10px;
}
.tool-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 125%;
   color: #2B3541;
}
.tool-description {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #2B3541;
   opacity: 0.6;
}
.footer {
   height: 150px;
   flex: 0 0 auto;
   margin-top: 172px;
   max-width: 1920px;
   background: #F3F3F3;
}
.footer-menu {
   margin: 0 auto;
   width: 1142px;
   display: flex;
   justify-content: space-between;
   margin-top: 54px;
}
.footer-logo {
   width: 97px;
   height: 30px;
   padding-top: 0;
   padding-left: 3px;
}
.footer-nav {
   height: 30px;
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
   margin-left: -54px;
}
.footer-nav-item {
   font-size: 14px;
   margin-right: 90px;
}
.footer-icons {
   width: 84px;
   height: 30px;
   display: flex;
   justify-content: space-between;
   margin-top: -6px;
}
.website {
   margin-left: 24px;
   margin-top: 3px;
   position: relative;
   z-index: 1;
}
.circle2 {
   top: -23px;
   left: -41px;
   position: absolute;
   z-index: -1;
}
.exile {
   text-decoration: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   color: #2B3541;
}
.footer-icon {
   width: 27px;
   height: 27px;
}
@media(max-width: 1679px) {
   header {
      max-width: 1000px;
   }
   .nav {
      margin-left: 0;
  }
  .wrapper {
   width: 1000px;
}
main {
   width: 1000px;
}
.container {
   width: 700px;
   height: 603px;
}
.training-title {
    padding-top: 119px;
    margin: 0;
}
  .arrow {
    margin-top: 52px;
}

   .training {
    width: 1000px;
    height: 800px;
}
#event {
   margin: 0 auto;
   width: 1000px;
   height: 690px;
   margin-top: 130px;
}
.training-schedule {
   width: 1000px;
}
.webinar-caption {
   width: 300px;
   height: 481px;
}
.caption-01 {
   width: 300px;
   height: 250px;
}
.caption-02 {
   width: 300px;
   height: 433px;
}
.caption-03 {
   width: 300px;
   height: 402px; 
}
.caption-04 {
   width: 300px;
   height: 281px;
}
.caption-05 {
   width: 300px;
   height: 309px;
}
.caption-06 {
   width: 300px;
   height: 374px;
}
.company {
   width: 1000px;
}
.company-info {
   max-width: 1000px;
}
.company-image {
   width: 500px;
}
.company-advantage {
   grid-gap: 40px;
   margin-left: 0;
}
.footer-menu {
    width: 1000px;
    margin: 0 auto;
    margin-top: 54px;
}
.footer-nav {
   margin-left: 0px;
}
.website {
    margin-right: 20px;
}
}

@media(max-width: 1280px) {
   header {
      max-width: 900px;
  }
  .wrapper {
   width: 900px;
}
   main {
      width: 900px;
   }
   .container {
      width: 623px;
      height: 517px;
  }
  .event-title {
   font-size: 32px;
  }
  .webinar {
   justify-content: space-around;
}
   .training-title {
      font-size: 30px;
   }
   .training-details {
      max-width: 436px;
      max-height: 520px;
   }
   .workout p {
      font-size: 24px;
  }
  .workout2 {
   margin-left: 0;
}
   #event {
      width: 900px;
   }
   .webinar-caption {
      width: 285px;
      height: 440px;
   }
   .training {
      width: 900px;
      grid-gap: 5px;
  }
  .schedule-date {
     padding: 0 10px;
  }
  .schedule {
   font-size: 30px;
  }
  .date {
   font-size: 24px;
  }
  
   .training-schedule {
      max-width: 900px;
   }
   .caption-01 {
      width: 270px;
      height: 250px;
   }
   .caption-02 {
      width: 270px;
      height: 433px;
   }
   .caption-02 image {
      margin-top: 10px;
   }
   .caption-03 {
      width: 270px;
      height: 402px; 
   }
   .caption-04 {
      width: 270px;
      height: 281px;
   }
   .caption-05 {
      width: 270px;
      height: 309px;
   }
   .caption-06 {
      width: 270px;
      height: 374px;
   }
   .training-date {
      font-size: 16px;
   }
   .training-type {
      font-size: 16px;
   }
   .training-type-description {
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
   }
   .company {
      width: 900px;
  }
  .company-title {
   font-size: 34px;
  }
  .company-message {
   font-size: 16px;
  }
   .company-info {
      justify-content: space-around;
  }
  .company-image {
   width: 378px;
}
.company-advantage {
   width: 900px;
   grid-gap: 0px;
   grid-template-columns: 200px 250px 200px 200px;
   justify-content: space-around;
}
.advatage-tool {
   margin-left: 0px;
}
.tool-title {
   font-size: 16px;
}
.tool-description {
   font-size: 16px;
}
.footer-menu {
   width: 900px;
}
.footer-nav-item {
   margin-right: 42px;
}
}
@media(max-width: 900px) {
   
}
