body {
    font-family: 'Montserrat',sans-serif;
    background-color: #FEFCFE;
    font-size: 14px;
    max-width: 1920px;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Bold.ttf);
    src: url(../font/Montserrat-Regular.ttf);
}

 header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 48px;
    width: 1837px;
    height: 31px;
    margin: 0 auto;
    padding-top: 48px;
 }
.logo {
    width: 97px;
    height: 30px;
    padding-top: 1px;
    padding-left: 19px;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: -669px;
 }
.nav-item {
    text-decoration-style: none;
    list-style-type: none;
    font-size: 18px;
    line-height: 150%;  
    padding-right: 54px;
 }
 .icons {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
 }
 .icon {
    width: 30px;
    height: 30px;
 }

 .wrapper {
    max-width: 1325px;
    margin: 0 0 0 388px;
 }

 main {
    max-width: 1325px;
    max-height: 852px;
    margin-top: -98px;
 }
 .training-title {
    position: absolute;
    z-index: 1;
 }
 .container {
    width: 996px;
    height: 852px;
    margin-left: 25%;
 }
 .training-image {
    width: 100%;
    height: 852px;
    position: relative;
    overflow: hidden;
 }
 .training-image img {
    width: 100%;
    height: 852px;
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(50%, 50%);
    object-fit: cover;
 }
.training-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 129%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 309px;
}

.training-details {
    position: absolute;
    z-index: 1;
}
.workout {
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
}
.workout2 {
    font-size: 18px;
    line-height: 150%;
}